<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PAR3{% endblock %}</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    {% block css %}{% endblock %}
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap" rel="stylesheet">
</head>

<body>

    {% include 'header.html'%}

    <div id="AllContainer">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash_messages">
            {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </div>

    {% include 'footer.html'%}

    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    {% block js %}{% endblock %}
</body>

</html>