

<header>
    <div class="header_container">
        <h1 class="h_logo">
            par3
        </h1>
        <nav class="h_nav">
            <ul class="h_nav_list">
                <li class="h_nav_lists h_nav_info">정보</li>
                <li class="h_nav_lists h_nav_community">게시판</li>
                <li class="h_nav_lists h_nav_join">골프조인</li>
                <li class="h_nav_lists h_nav_shop">구매</li>
                <li class="h_nav_lists h_nav_membership">멤버십</li>
            </ul>
        </nav>
        <div class="h_auth_bt">
            <!-- {% if g.user %} -->
            <!-- <div class="h_my_page"> -->
            <!-- mypage -->
            <!-- </div> -->
            <!-- <div class="h_logout_bt"> -->
            <!-- logout -->
            <!-- </div> -->
            <!-- {% else %} -->
            <div class="h_login_bt">
                LOGIN
            </div>
            <!-- {% endif %} -->
        </div>
    </div>
</header>