<header>
    <div class="header_container">
        <a class="h_logo" href="{{url_for('main.inter_par3')}}">par3</a>

        <nav class="h_nav">
            <ul class="h_nav_list">
                <li class="h_nav_lists">
                    <a href="{{url_for('main.index')}}" class="h_nav_info{{ ' active' if request.blueprint == 'main' else '' }}">INTRO</a>
                </li>
                <li class="h_nav_lists">
                    <a href="{{url_for('talk.list')}}" class="h_nav_community{{ ' active' if request.blueprint == 'talk' else '' }}">TALK</a>
                </li>
                <li class="h_nav_lists">
                    <a href="{{url_for('join.join_list')}}" class="h_nav_join{{ ' active' if request.blueprint == 'join' else '' }}">JOIN</a>
                </li>
                <li class="h_nav_lists">
                    <a href="{{url_for('shop.main')}}" class="h_nav_shop{{ ' active' if request.blueprint == 'shop' else '' }}">SHOP</a>
                </li>
                <li class="h_nav_lists">
                    <a href="{{url_for('recommend.shaft')}}" class="h_nav_membership{{ ' active' if request.blueprint == 'recommend' else '' }}">RECOMMEND</a>
                </li>
            </ul>
        </nav>

        <div class="h_auth_bt">
            {% if g.user %}
            <div class="h_user_menu">
                <a href="{{url_for('mypage.mypage')}}" class="h_my_page">{{ g.user.nickname }} 님</a>
                <div class="h_user_dropdown">
                    <a href="{{url_for('mypage.mypage')}}" class="h_user_dropdown_item">마이페이지</a>
                    <a href="{{url_for('shop.cart')}}" class="h_user_dropdown_item">장바구니</a>
                    <a href="{{url_for('chat.my_chat_rooms')}}" class="h_user_dropdown_item">조인 채팅방</a>
                    {% if g.user.is_admin %}
                    <a href="{{url_for('admin.dashboard')}}" class="h_user_dropdown_item">관리자 페이지</a>
                    {% endif %}
                    <a href="{{url_for('auth.logout')}}" class="h_user_dropdown_item">로그아웃</a>
                </div>
            </div>
            {% else %}
            <a href="{{url_for('auth.login')}}" class="h_login_bt">LOGIN</a>
            {% endif %}
        </div>
    </div>
</header>