<header>
    <div class="header_container">
        <a class="h_logo" href="{{url_for('main.inter_par3')}}">par3</a>

        <nav class="h_nav">
            <ul class="h_nav_list">
                <li class="h_nav_lists">
                    <a href="{{url_for('main.index')}}" class="h_nav_info">intro</a>
                </li>
                <li class="h_nav_lists">
                    <a href="{{url_for('talk.list')}}" class="h_nav_community">talk</a>
                </li>
                <li class="h_nav_lists">
                    <a href="{{url_for('join.join_list')}}" class="h_nav_join">golf join</a>
                </li>
                <li class="h_nav_lists">
                    <a href="{{url_for('shop.main')}}" class="h_nav_shop">par3 shop</a>
                </li>
                <li class="h_nav_lists">
                    <a href="{{url_for('recommend.shaft')}}" class="h_nav_membership">recommend shaft</a>
                </li>
            </ul>
        </nav>

        <div class="h_auth_bt">
            {% if g.user %}
            <a href="{{url_for('mypage.mypage')}}" class="h_my_page">{{ g.user.nickname }} 님</a> 
            <a href="{{url_for('auth.logout')}}" class="h_logout_bt">logout</a>
            {% else %}
            <a href="{{url_for('auth.login')}}" class="h_login_bt">LOGIN</a>
            {% endif %}
        </div>
    </div>
</header>