<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="{{url_for('static', filename='img/banner_main.png')}}" alt="par3">
            <div class="swiper_text">
                <h2 class="mb_text_title_1">PLAY.</h2>
                <h2 class="mb_text_title_1">SHARE.</h2>
                <h2 class="mb_text_title_2">CONNECT</h2>
                <h3 class="mb_text_sub">골프의 모든 정보와 사람을 연결하는 플랫폼, PAR3</h3>
            </div>
        </div>

        <div class="swiper-slide">
            <img src="{{url_for('static', filename='img/banner2.png')}}" alt="par3">
        </div>

    </div>


    <div class="swiper-bt swiper-pagination"></div>
</div>